




h1 {
color: darkgreen;
text-align: center;
}

p {
    font-family: fantasy;
    color: darkgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    background-color: dimgray;
  }

  h3 {
      font-family: fantasy;
      color: rgb(133, 5, 133);
  }