


canvas {
    display:block;
    margin:auto;
    background:#ecf0f1;
  }




h1 {
color: darkgreen;
text-align: center;
}

p {
    font-family: fantasy;
    color: darkgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
      background-color: rgb(170, 101, 11);
  }

  h3 {
      font-family: fantasy;
      color: darkgreen;
  }