




h1 {
color: darkgreen;
text-align: center;
}

p {
    font-family: fantasy;
    color: darkgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    background:radial-gradient(#1d1f20,#000);
    margin:0;
  }

  h3 {
      font-family: fantasy;
      color: darkgreen;
  }